{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "_components": "./src/components",
          "_utils": "./src/utils"
        }
      }
    ]
  ]
}
