html {
  scroll-behavior: smooth;
}

html.normal-scroll {
  scroll-behavior: auto;
}

.blogpost-blockquote > p {
  margin-top: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide {
  to {
    transform: translateX(-455px);
  }
}
