/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

@layer utilities {
  .line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 7);
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .scroll-mt {
    scroll-margin-top: theme('margin.8');
  }
}
